extends layout
block content
  .container
    #masthead
      .container
            h1
              | Blog
              p.lead Catchy Subtitle Here
    - each article in articles
      .row
        br
        .col-md-2.col-sm-3.text-center
          a.story-img(href='/blog/post/'+article._id.toHexString())
            img.img-circle(src='http://home.pukkapi.com:3000/images/app/c1fda07eb4cc4a446355985e6862701c', style='width:100px;height:100px')
        .col-md-10.col-sm-9
          h3 
             a(href='/blog/post/'+article._id.toHexString())!= article.title
          .row
            .col-xs-9
              p
                p= article.intro+'...'
              p.lead
                a.btn.btn-primary.btn-sm(href='/blog/post/'+article._id.toHexString()) Read More..
              p.pull-right
                span.label.label-default keyword
                span.label.label-default tag
                span.label.label-default post
              ul.list-inline
                li
                  span Posted by 
                  a(href='/authors/')= article.author
                li
                  a(href='#') 2 Days Ago
                li
                  a(href='/blog/post/'+article._id.toHexString()+'#disqus_thread') Comments
                li
                  a(href='#')
                    i.glyphicon.glyphicon-share
                    |  34 Shares
              .col-xs-3
        br
        hr      
    a(href='#') Back to top
       
  include ./footer.jade

