// footer.jade
.footer
	.row
		.col-md-6
			span Designed and built with all the love in the world by 
			a(mailto='me@jasonfinch.me', target='_blank') Jason Finch
			br
			br
			span Using,&nbsp
			a(href='http://nodejs.org') Node.js,&nbsp;
			a(href='http://expressjs.com') Express,&nbsp;
			a(href='http://www.mongodb.org') Mongodbo,&nbsp;
			a(href='http://socket.io') Socket-io,
			br
			a(href='http://jade-lang.com/') Jade,&nbsp;
			a(href='http://getbootstrap.com') Bootstrap&nbsp;
			span and a whole lot of other goodies.
		.col-md-6
			.social
				ul.fa-ul
					li
						i.fa-li.fa.fa-facebook
						a(href='#') &nbsp; &nbsp;
					li
						i.fa-li.fa.fa-lg.fa-twitter
						a(href='#') &nbsp; &nbsp;
					li
						i.fa-li.fa.fa-lg.fa-google-plus
						a(href='#') &nbsp; &nbsp;
					li
						i.fa-li.fa.fa-lg.fa-linkedin
						a(href='#') &nbsp; &nbsp;
					li
						i.fa-li.fa.fa-lg.fa-globe
						a(href='#') &nbsp; &nbsp;
					