// /views/sandbox.jade

// sand box index view

extends layout

block content
  br
  include ./admin_nav.jade
  h1 Sandbox
  p A little playpen to demo projects and experiments.
  include ./footer.jade